<ol class="breadcrumb">
  <li>
    <a routerLink="/home">Home</a>
  </li>
  <li class="active">Manage Charities</li>
</ol>
<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<h2>Manage Charities</h2>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Tax Id</th>
        <th>Contact First Name</th>
        <th>Contact Last Name</th>
        <th>Address Line</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th>Admin</th>
        <th>Charity Validation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let charity of charities">
        <td>{{ charity.companyName }}</td>
        <td>{{ charity.taxId }}</td>
        <td>{{ charity.contactFirstName }}</td>
        <td>{{ charity.contactLastName }}</td>
        <td>{{ charity.addressLine }}</td>
        <td>{{ charity.city }}</td>
        <td>{{ charity.state }}</td>
        <td>{{ charity.zip }}</td>
        <td>{{ charity.phoneNumber }}</td>
        <td>{{ charity.email }}</td>
        <td>
          <span *ngIf="!charity.confirmed">
            <button class="btn btn-success" (click)='confirmCharity(charity)'>Confirm</button>
            <button class="btn btn-danger" (click)='deleteCharity(charity)'>Deny</button>
          </span>
          <span *ngIf="charity.confirmed">
            <a class="btn btn-info" routerLink="../charityForm/add/{{charity.id}}">Update</a>
            <button class="btn btn-danger" (click)='deleteCharity(charity)'>Delete</button>
          </span>
        </td>
        <td>
            <a class="btn btn-info" [routerLink]="['validateCharity', charity.id]">Get Charity Info</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>