<section @fadeInAnimation>
  
    <ol class="breadcrumb">
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li class="active">Contact Us</li>
  </ol>
  <hr>
  <div class="row featurette">
  <div class="col-md-12">
      <h2 class="feature-heading"> Contact us
        <p></p>
        <span class="text-muted"><p>We are here to answer any questions you may have.  Reach out to us and we'll respond as soon as we can.
          <p>Even if have suggestions on how we can improve your experience, let us know.</p>
          <p> Our hours of operation:  Monday - Friday 8am - 5pm EST</p>
        <p></span>
          <p></p> 
               
      </h2>       
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-9">
        <div class="caption">
            <img src="assets/images/emailicon.png" alt="Email">
            <p></p>
          <h3>Email: CharityConnect@CharityConnect.org</h3>
        
                
        </div>
      </div>
   
    <div class="form-group">
    <div class="col-md-9">
               <div class="caption">
          <img src="assets/images/blackphone3.png" alt="Phone">
          <h3>Phone: (317)-CHA-RITY</h3>
        </div>
      </div>
             
        <div class="col-md-9">
            <div class="caption">
            <img src="assets/images/bldgblack.png" alt="Address">
          <h3>Address: 12400 North Meridian Street Carmel, IN 46032</h3>
          
          <agm-map [latitude]="lat" [longitude]="lng">
             <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
           </agm-map>
     
      </div>
    </div>
  </div>

