<section @fadeInAnimation>
  
    <ol class="breadcrumb">
     
  </ol>
  <hr>
  <div class="col-md-10">
      <h2 class="featurette-heading">
        <span class="text-muted"></span>
      </h2>
      <p class="lead">Contact us</p>
  <div class="row featurette">
      <div class="col-md-10">
          <img src="assets/images/contact.jpg" alt="Start Helping">
        </div>
   
      
    </div>
    
  </div>
  

  <hr>
  <!-- /END THE FEATURETTES -->
  <div class="row">
    <div class="col-md-10">
      <div class="thumbnail">
        <div class="caption">
          <h3>Email</h3>
          <p>CharityConnect@xxxxxx.com 
          </p>
         
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="thumbnail">
          <div class="caption">
          <h3>Phone</h3>
          <p>(317)-333-XXXX</p>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="thumbnail">
        <div class="caption">
          <h3>Location</h3>
          <p>12400 North Meridian Street</p>
           <p> Carmel, IN, 46032</p>
           <agm-map [latitude]="lat" [longitude]="lng">
             <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
           </agm-map>
        </div>
      </div>
    </div>
  </div>
</section>
