<section @fadeInAnimation>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/home">Home</a>
    </li>
    <li class="active">About Us</li>
</ol>

<hr>
<div class="col-md-12">
    <h2 class="featurette-heading">About Us
      <span class="text-muted"></span>
    </h2>
  </div>
<div class="row featurette">
    <div class="col-md-12">
        <img src="assets/images/developershirt.jpg" alt="Developer1">
        <img src="assets/images/developershirt.jpg" alt="Developer2">
        <img src="assets/images/developershirt.jpg" alt="Developer3">
        <img src="assets/images/developershirt.jpg" alt="Developer4">
      </div>
   </div> 
  
    <hr>
  
    <div class="row featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading">The Team
          <span class="text-muted"></span>
        </h2>
        <p class="lead">The Charity Connect team is a small group of insurance professionals on the road to becoming professional developers. Team Members include: Britta Mielke, David Hall, Lisa Forrest, and Beth Skwerski.</p>
      </div>
      <div class="col-md-5">
        
      </div>
    </div>
    <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">The Project
            <span class="text-muted"></span>
          </h2>
          <p class="lead">The Charity Connect project is a final class project for Java boot camp. This project leverages Java, PostgreSQL, Angular, Amazon AWS S3 storage, and Bootstrap.</p>
        </div>
        <div class="col-md-12">
            <div class="row featurette">
                <div class="col-md-12">
                  <h2 class="featurette-heading">Special Thanks
                    <span class="text-muted"></span>
                  </h2>
                  <p class="lead">The Charity Connect Team's would like to thank the Iron Yard instructors for their expertise, dedication and most of all patience.  Our final project would not have been possible had it not been for the instruction we received.  Special thanks to Eric Schwartz, Curtis Schlak and David Michael Gregg.
                  </p>
                </div>
                <div class="col-md-5">
                  
        </div>
      </div>
  
    <hr>
    <!-- /END THE FEATURETTES -->

    

