<ol class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
  <li class="active">Admin</li>
</ol>
<div class="row featurette">
    <div class="col-md-3">
        <h2 class="featurette-heading">Log In
            <span class="text-muted"></span>
         </h2>
            <label for="updateThis">User Name</label>
             <input type="text" class="form-control" name="updateThis" id="updateThis" placeholder="" required>
                <p><a href="#">Forgot your username?</a></p> 
            <label for="updateThis">Password</label>
             <input type="text" class="form-control" name="updateThis" id="updateThis" placeholder="" required>
               <p><a href="#">Forgot your password?</a></p> 
                  <img src="assets/images/adminpicture.jpg" alt="Start Helping">
                  <div class="caption">
                      <h3>Manage Charities</h3>         
                         <a href="#" class="btn btn-primary" role="button" [routerLink]="['/manageCharities']">Manage Charities</a>
                  <div class="caption">
                      <h3>Manage Donors</h3>
                          <a href="#" class="btn btn-primary" role="button"  [routerLink]="['/manageDonors']">Manage Donors</a>
                        </div>
                    </div>
  </div>     
  </div>
 
  

