<ol class="breadcrumb">
    <li>
      <a routerLink="/home">Home</a>
    </li>
    <li>
      <a [routerLink]="['/admin']">Admin Dashboard</a>
    </li>
    <li class="active">Manage Donors</li>
  </ol>
  <app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>
  <a [routerLink]="['/admin/']" class="btn btn-primary">Return to Admin Dashboard</a>
<h2>Manage Donors</h2>
<!-- display donors in database -->
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Contact First Name</th>
        <th>Contact Last Name</th>
        <th>Address Line</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th>Update</th>
        <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let donor of donors">
          <td>{{ donor.companyName }}</td>
          <td>{{ donor.contactFirstName }}</td>
          <td>{{ donor.contactLastName }}</td>
          <td>{{ donor.addressLine }}</td>
          <td>{{ donor.city }}</td>
          <td>{{ donor.state }}</td>
          <td>{{ donor.zip }}</td>
          <td>{{ donor.phoneNumber }}</td>
          <td>{{ donor.email }}</td>
        <td>
            <a class="btn btn-info" routerLink="../donorForm/add/{{donor.id}}">Update</a>
          </td>
          <td>
            <button class="btn btn-danger" (click)='deleteDonor(donor.id)'>Delete</button>
          </td>
        </tr>
    </tbody>
  </table>
</div>


      
      
  
