<!-- DONOR  VIEW -->
<section @fadeInAnimation>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/home">Home</a>
    </li>
    <li class="active">Dashboard</li>
  </ol>
<div id="donor-things" *ngIf="type == 'donor'">
  <h1>Welcome to your dashboard, 
      <span *ngIf="loggedInUser?.companyName">{{ loggedInUser?.companyName }} </span>
      <span *ngIf="!loggedInUser?.companyName">{{ loggedInUser?.contactFirstName }} {{ loggedInUser?.contactLastName }}</span>
    </h1>
  <a [routerLink]="['/donatedItem/add/', id]" class="btn btn-primary">Add an item to donate</a>
  <br>
   <h2>Browse needs from all charities</h2>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
          <th>Category</th>
          <th>Description</th>
          <th>Charity Name</th>
          <th>Approximate Distance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let neededItem of neededItems">
        <td>{{neededItem.category.name}}</td>
        <td>{{neededItem.description}}</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <h2>My available items</h2>
  <!-- Fix to make for specific donor ID once ID param is being passed -->
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Image (Click to download)</th>
        <th>Delete Item</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let donatedItem of donatedItems">
        <tr *ngIf="!donatedItem.claimedByCharity">
          <td>{{donatedItem.category.name}}</td>
          <td>{{donatedItem.description}}</td>
          <td>
            <span *ngIf="donatedItem.itemImageUrl">
              <a href={{donatedItem.itemImageUrl}} target="_new">
                <img [src]="donatedItem.itemImageUrl" />
              </a>
            </span>
          </td>
          <td class="text-center">
            <a class="btn btn-primary" (click)='deleteDonatedItem(donatedItem)'>Delete Item</a>&nbsp;
          </td>
        </tr>
        </ng-container>
      </tbody>
    </table>
<h2>My claimed donations</h2>
  <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Image (Click to download)</th>
        <th>Charity Information</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let donatedItem of donatedItems">
        <tr *ngIf="donatedItem.claimedByCharity">
          <td>{{donatedItem.category.name}}</td>
          <td>{{donatedItem.description}}</td>
          <td>
            <span *ngIf="donatedItem.itemImageUrl">
              <a href={{donatedItem.itemImageUrl}} target="_new">
                <img [src]="donatedItem.itemImageUrl" />
              </a>
            </span>
          </td>
          <td class="text-left">This item has been claimed by: {{donatedItem.claimedByCharity.companyName}}<br>
          Contact Name: {{donatedItem.claimedByCharity.contactFirstName}}  {{donatedItem.claimedByCharity.contactLastName}}<br>
          Contact Email: {{donatedItem.claimedByCharity.email}}
        </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
  
<!-- CHARITY VIEW -->
<div id="charity-things" *ngIf="type == 'charity'">
   <h1>Welcome to your dashboard, {{ loggedInUser?.companyName }}</h1>
  <a [routerLink]="['/neededItem/add/', id]" class="btn btn-primary">Add a need</a>
  <br>
  <h2>My needed items</h2>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Delete Need</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let neededItem of neededItems">
        <td>{{neededItem.category.name}}</td>
        <td>{{neededItem.description}}</td>
        <td class="text-center">
          <a class="btn btn-primary" (click)="deleteNeededItem(neededItem)">Delete Item</a>&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
<h2>Browse list of donated items</h2>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered" id="dataTable" style="width:100%">
      <thead>
        <tr>
          <th>Category</th>
          <th>Description</th>
          <th>Image (Click to download)</th>
          <th>Approximate Distance</th>
          <th>Claim Item</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let donatedItem of donatedItems">
          <tr *ngIf="!donatedItem.claimedByCharity">
            <td>{{donatedItem.category.name}}</td>
            <td>{{donatedItem.description}}</td>
            <td>
              <span *ngIf="donatedItem.itemImageUrl">
                <a href={{donatedItem.itemImageUrl}} target="_new">
                  <img [src]="donatedItem.itemImageUrl" />
                </a>
              </span>
            </td>
            <td>{{ donatedItem.distanceTo }} <br>
              <a class="btn btn-primary">Get Directions</a>&nbsp;
            </td>
            <td class="text-center">
              <a class="btn btn-primary" (click)="updateDonatedItemToClaimed(donatedItem.id)" [routerLink]="['/claimItem/', donatedItem.id, loggedInUser.id]">Claim Item</a>&nbsp;
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
<h2>Claimed Items for {{loggedInUser?.companyName}}</h2>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Image (Click to download)</th>
        <th>Charity Information</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let claimedItem of loggedInUser?.claimedItems">
          <td>{{claimedItem.category.name}}</td>
          <td>{{claimedItem.description}}</td>
          <td>
            <span *ngIf="claimedItem.itemImageUrl">
              <a href={{claimedItem.itemImageUrl}} target="_new">
                <img [src]="claimedItem.itemImageUrl" />
              </a>
            </span>
          </td>
          <td class="text-left">This item was donated by: {{claimedItem.donorView.companyName}}
            <br> Contact Name: {{claimedItem.donorView.contactFirstName}} {{claimedItem.donorView.contactLastName}}
            <br> Contact Email: {{claimedItem.donorView.email}}
          </td>
        </tr>
    </tbody>
  </table>
</div>
</section>